{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "shijinsj@cn.ibm.com",
      "Space": "dev"
    },
    "Name": "gp-nodejs-sample-sj",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}